repos:
  - repo: 'https://github.com/pre-commit/pre-commit-hooks'
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: data-lake-*
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check movies_etl tests
        language: system
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: ruff format --exit-non-zero-on-format movies_etl tests
        language: system
        pass_filenames: false
      - id: mypy
        name: mypy
        entry: mypy movies_etl tests
        language: system
        pass_filenames: false
