[project]
name = "movies-etl"
version = "0.4.0"
description = "Data pipeline that processes movie ratings data"
authors = [{ name = "Guido Kosloff Gancedo", email = "guidokosloff@gmail.com" }]
readme = "README.md"
requires-python = ">=3.13,<3.14"
dependencies = [
    "pyspark~=3.5.7",
    "soda-core-spark-df~=3.5.6",
    "python-dotenv~=1.2.1",
    "setuptools~=80.9.0",
]

[dependency-groups]
dev = [
    "ruff~=0.14.4",
    "mypy~=1.18.2",
    "types-pyyaml~=6.0.12",
    "types-tabulate~=0.9.0",
    "pytest~=8.4.2",
    "pytest-cov~=7.0.0",
    "chispa~=0.11.1",
    "pre-commit~=4.3.0",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.coverage.run]
branch = true
source = ["movies_etl"]

[tool.coverage.report]
show_missing = true

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_calls = true
disallow_untyped_defs = true
disallow_incomplete_defs = true

[tool.ruff]
line-length = 120

[tool.ruff.lint]
select = [
    # pycodestyle
    "E",
    # Pyflakes
    "F",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
]
